# ========================
# IDE & Editor 配置忽略
# ========================

# JetBrains IDE (如 IntelliJ IDEA, WebStorm)
.idea/
.run
*.iml

# VS Code
.vscode/
frontend/.vscode/

# ========================
# 其他常见需要忽略的
# ========================

# 前端依赖目录
node_modules/
frontend/node_modules/

# 后端构建产物
backend/**/target/

# 环境与日志
*.log
.env
.env.*

# Mac 系统文件
.DS_Store
